body {
    background-color: black;
    color: white;
}

@keyframes adjust-image {
    from {
        zoom: 1;
        translate: -50% -100% 0;
    }
    80% {
        opacity: 1;
    }
    99% {
        translate: 500% -50% 0;
        scale: 30;
        opacity: 0;
        rotate: -6deg;
        z-index: 1;
    }
    to {
        translate: 500% -50% 0;
        scale: 30;
        opacity: 0;
        rotate: -6deg;
        z-index: -1;
    }
}

header {
    view-timeline: --header-vtl;
}

header img {
	display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width:250px;
	height: 20rem;

    animation: adjust-image linear both;
    animation-timeline: --header-vtl;
    animation-range: exit;
}
header h1 {
    padding-top: min(20rem, 60vw);
}

header {
	display: grid;
	place-content: center;
	height: 90vh;
	height: 90dvh;
	margin-bottom: 10vh;
	margin-bottom: 10dvh;
	gap: 2.5vmin;
}
header h1 {
	margin: 0;
	font-size: 2.5em;
	text-align: center;
	line-height: 1;
	max-width: 80vw;
}
header h1 em {
	display: block;
	margin-top: 0.5rem;
	font-size: 0.4em;
	line-height: 1.2;
}

#mainMap {
    display:flex;
    align-items: center;
    justify-content:center;
    position:fixed;
    aspect-ratio: auto 4/3;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    opacity:0;
    animation: mainMapAppear;
    animation-timeline:scroll();
    animation-range:20vh 90vh;
    animation-fill-mode:forwards;
    z-index: -1;
}

@keyframes mainMapAppear {
    0% {
        translate:0vh -10vh;
        scale:0.4;
        opacity:0;
    }
    100%{
        scale:1;
        opacity:1;
    }
    
}

#mainMapPic{
    aspect-ratio: auto 4/3;
    width: 100%;
    background-image: url("mapas/inten/inten3.png");
    background-size: cover;
    background-position: center;
}
#mainMapPic.playing{
    animation: changeBackground 30s infinite linear;
}

@keyframes changeBackground {
    0% {
        background-image: url("mapas/inten/inten3.png");
    }
    16% {
        background-image: url("mapas/inten/inten3.png");
    }
    19% {
        background-image: url("mapas/inten/inten4.png");
    }
    32% {
        background-image: url("mapas/inten/inten4.png");
    }
    35% {
        background-image: url("mapas/inten/inten5.png");
    }
    48% {
        background-image: url("mapas/inten/inten5.png");
    }
    51% {
        background-image: url("mapas/inten/playin2.png");
    }
    64% {
        background-image: url("mapas/inten/playin2.png");
    }
    67% {
        background-image: url("mapas/inten/playin5.png");
    }
    80% {
        background-image: url("mapas/inten/playin5.png");
    }
    83% {
        background-image: url("mapas/inten/inten2.png");
    }
    95% {
        background-image: url("mapas/inten/inten2.png");
    }
    
}


#mapLegendContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position:fixed;
    opacity:0;
    animation: mapTitles;
    animation-timeline: scroll();
    animation-range:90vh 860vh;
    animation-fill-mode:forwards;
}


@keyframes mapTitles {
    0% {
        top:200%;
        opacity:1;
    }
    5%{
        top:5%;
        opacity:1;
    }
    65%{
        top:5%;
        opacity:1;
    }100%{top:5%;opacity:1;}/*
    70%{
        top:-100%;
        opacity:1;
    }
    100%{
        top:-100%;
        opacity:1;
    }*/
    
}

#mapLegendContainer .titleContainer {
    position:absolute;
    display:flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}


#goToDownloads {
    position:absolute;
    width:50%;
    bottom:10%;
    background-color: #3f51b5;
    animation: toDownloads;
    animation-timeline: scroll();
    animation-range:550vh 600vh;
    animation-fill-mode:forwards;
}


@keyframes toDownloads {
    0%{
        translate: 0% 0%;
        background-color: #3f51b5;
        width:50%;
        opacity:1;
    }
    100%{
        translate: -100% 0%;
        background-color: #4CAF50;
        width:30%;
        z-index: -1;
    }
    
}

#downloadSet {
    display:flex;
    flex-direction:row;
    position:absolute;
    width:50%;
    bottom:10%;
    animation: showDownloadSet;
    animation-timeline: scroll();
    animation-range:550vh 600vh;
    animation-fill-mode:forwards;
    z-index: -1;
}

@keyframes showDownloadSet {
    0%{
        translate: 0% 0%;
        z-index: -1;
    }
    100%{
        translate: -50% 0%;
        z-index: 1;
    }
}

#downloadButton {
    width:100%;
    background-color: #3f51b5;
    animation: showDownloadButton;
    animation-timeline: scroll();
    animation-range:550vh 600vh;
    animation-fill-mode:forwards;
    z-index: -1;
}

@keyframes showDownloadButton {
    0%{
        background-color: #3f51b5;
        width:100%;
    }
    100%{
        background-color: #4CAF50;
        width:80%;
    }
}


#moreInfo {
    border: none;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;


    font-size: 32px;
    padding: 0px 0px;
    width:0%;
    margin-left:10px;
    background-color: #2487f8;
    animation: showMoreInfoButton;
    animation-timeline: scroll();
    animation-range:580vh 630vh;
    animation-fill-mode:forwards;
    z-index: -1;
}

@keyframes showMoreInfoButton {
    0%{
        width:0%;
    }
    100%{
        width:20%;
    }
}

#twitterPosts {
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content:center;
}

.twitter-tweet{
    margin:20px;
    padding-top: 50vh;
    z-index: 1;
}

#descargas {
    height: 90vh;
}

#footer {
    display:flex;
    flex-direction: column;
    justify-content: end;
    height:100%;
}

#moreButtons {
    display:flex;
    flex-direction:row;
    justify-content: end;
}

#moreMaps{
    width:20%;
    margin-left:10px;
    z-index: 2;
}
#playOnline{
    width:20%;
    margin-left:10px;
    z-index: 2;
}


@media only screen and (max-width: 600px){
    #mainMap {
        display:flex;
        align-items: center;
        justify-content:center;
        position:fixed;
        aspect-ratio: auto 4/3;
        height:100%;
        top:0px;
        left:0px;
        opacity:0;
        animation: mainMapAppear;
        animation-timeline:scroll();
        animation-range:20vh 90vh;
        animation-fill-mode:forwards;
        z-index: -1;
    }

    @keyframes mainMapAppear {
        0% {
            translate:-30vh -5vh;
            scale:0.7;
            opacity:0;
        }
        100%{
            translate:-30vh 0vh;
            scale:1;
            opacity:1;
        }
        
    }

    #mainMapPic{
        aspect-ratio: auto 4/3;
        height: 100%;
        background-image: url("mapas/inten/inten3.png");
        background-size: cover;
        background-position: center;
    }
    
    #mainMapPic.playing{
        animation: changeBackground 30s infinite linear, mapPicSlide 30s infinite linear;
    }

    @keyframes mapPicSlide {
        0%{
            translate:-20vh;
        }
        25%{
            translate:0vh;
        }
        50% {
            translate:20vh;

        }
        75%{
            translate:0vh;
        }
    }
    
    #twitterPosts {
        display:flex;
        flex-direction: column;
        align-items: end;
        justify-content:center;
        width:70%;
    }

    .twitter-tweet{
        margin:0px;
        padding-top: 50vh;
        z-index: -1;
    }


    #goToDownloads {
        position:absolute;
        width:100%;
        bottom:10%;
        background-color: #3f51b5;
        animation: toDownloads;
        animation-timeline: scroll();
        animation-range:580vh 630vh;
        animation-fill-mode:forwards;
    }


    @keyframes toDownloads {
        0%{
            translate: 0% 0%;
            background-color: #3f51b5;
            width:100%;
            opacity:1;
        }
        100%{
            translate: -100% 0%;
            background-color: #4CAF50;
            width:50%;
            z-index: -1;
        }
        
    }

    #downloadSet {
        display:flex;
        flex-direction:row;
        position:absolute;
        width:100%;
        bottom:10%;
        animation: showDownloadSet;
        animation-timeline: scroll();
        animation-range:580vh 630vh;
        animation-fill-mode:forwards;
        z-index: -1;
    }

    @keyframes showDownloadSet {
        0%{
            translate: 0% 0%;
            z-index: -1;
        }
        100%{
            translate: -50% 0%;
            z-index: 1;
        }
    }

    #downloadButton {
        width:100%;
        background-color: #3f51b5;
        animation: showDownloadButton;
        animation-timeline: scroll();
        animation-range:580vh 630vh;
        animation-fill-mode:forwards;
        z-index: -1;
    }

    @keyframes showDownloadButton {
        0%{
            background-color: #3f51b5;
            width:100%;
        }
        100%{
            background-color: #4CAF50;
            width:80%;
        }
    }


    #moreInfo {
        border: none;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        text-align: center;
        cursor: pointer;


        font-size: 32px;
        padding: 0px 0px;
        width:0%;
        margin-left:10px;
        background-color: #2487f8;
        animation: showMoreInfoButton;
        animation-timeline: scroll();
        animation-range:600vh 650vh;
        animation-fill-mode:forwards;
        z-index: -1;
    }

    @keyframes showMoreInfoButton {
        0%{
            width:0%;
        }
        100%{
            width:20%;
        }
    }
    
    #descargas {
        height: 100vh;
    }

    #footer {
        display:flex;
        flex-direction: column;
        justify-content: end;
        height:100%;
    }

    #moreButtons {
        display:flex;
        flex-direction:row;
        justify-content: end;
    }

    #moreMaps{
        width:45%;
        margin-left:10px;
        z-index: 2;
    }
    #playOnline{
        display:none;
        width:25%;
        margin-left:10px;
        z-index: 2;
    }
}